# Add gitignore configuration for a node js project
# Dependency directories
node_modules/

# Debug logs
*.log
logs/*

# Environment configuration files
.env

# Production build directory
/dist

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional editor directory
.idea/
.vscode/
*.swp
*.swo

# Optional macOS files
.AppleDouble
.LSOverride

# Optional thumbnail cache files
._*

# Optional user files
*.sub
files/dump/*
assets/quotation.docx
assets/quotation.pdf
assets/tax_dept_manual.pdf
assets/*.xml
assets/sample_invoice.docx
assets/Translation - e-Invoicing Documentation ver1.3.pdf
assets/notes_v1.xlsx
assets/notes_v2.xlsx
assets/notes_v3.xlsx
src/config.json
files/completed/*.xml
